@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #eaeaea;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: "sahel";
  src: url("../public/fonts/sahel.ttf");
  font-style: normal;
}

* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "sahel", -apple-system, Helvetica Neue, sans-serif,
  BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  Droid Sans, Helvetica Neue, sans-serif !important;
}

.card {
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
